<div>
  <!-- ng-style="{'color' : (change.boton[7]=='X') ? 'red' : 'blue' }"> -->
  <div class="col1">
    <div ng-repeat="i in [1,2,3]" class="celda" value="{{i}}" ng-click="hacerTodo($event)"
      ng-class="'{{ boton[i]=='X' ? 'estiloX' : 'estiloO'}}'"><p>{{boton[i]}}</p></div>
  </div>
  <div class="col2">
    <div ng-repeat="i in [4,5,6]" class="celda" value="{{i}}" ng-click="hacerTodo($event)"
    ng-class="'{{ boton[i]=='X' ? 'estiloX' : 'estiloO'}}'"><p>{{boton[i]}}</p></div>
  </div>
  <div class="col3">
    <div ng-repeat="i in [7,8,9]" class="celda" value="{{i}}" ng-click="hacerTodo($event)"
    ng-class="'{{ boton[i]=='X' ? 'estiloX' : 'estiloO'}}'"><p>{{boton[i]}}</p></div>
  </div>
</div>
