<div ng-class="'back'" ng-init="inicio()">
  <!-- ng-style="{'color' : (change.boton[7]=='X') ? 'red' : 'blue' }"> -->
  <!-- <div ng-class="{'isClicked1' : click, 'isClicked2' :!click}"> -->
  <div class="col1">
    <div ng-repeat="i in [1,2,3]" class="celda" value="{{i}}" ng-click="hacerTodo($event)"
      ng-class="{'estiloX' : boton[i]=='X', 'estiloO' : boton[i]=='O'}"><p>{{boton[i]}}</p></div>
  </div>
  <div class="col2">
    <div ng-repeat="i in [4,5,6]" class="celda" value="{{i}}" ng-click="hacerTodo($event)"
    ng-class="{'estiloX' : boton[i]=='X', 'estiloO' : boton[i]=='O'}"><p>{{boton[i]}}</p></div>
  </div>
  <div class="col3">
    <div ng-repeat="i in [7,8,9]" class="celda" value="{{i}}" ng-click="hacerTodo($event)"
    ng-class="{'estiloX' : boton[i]=='X', 'estiloO' : boton[i]=='O'}"><p>{{boton[i]}}</p></div>
  </div>
  <div>
    <button ng-click="inicio()">sorete</button>
      <div ng-class="'reset'">{{resultado == true ? '' : 'Empate'}}
        <span ng-class="{'estiloX' : ganador=='X', 'estiloO' : ganador=='O'}">
          <span style="font-style:normal">
            <span ng-class="'reset'">{{ganadortitle}}</span>
            {{ganador}}
          </span>
        </span>
      </div>
    <
  </div>
</div>
