<div>
  <div class="col1">
    <div class="celda" value=1 id="one" ng-click="hacerTodo($event)">{{boton[1]}}</div>
    <div class="celda" value=2 id="two" ng-click="hacerTodo($event)">{{boton[2]}}</div>
    <div class="celda" value=3 id="three" ng-click="hacerTodo($event)">{{boton[3]}}</div>
  </div>
  <div class="col2">
    <div class="celda" value=4 id="four" ng-click="hacerTodo($event)">{{boton[4]}}</div>
    <div class="celda" value=5 id="five" ng-click="hacerTodo($event)">{{boton[5]}}</div>
    <div class="celda" value=6 id="six" ng-click="hacerTodo($event)">{{boton[6]}}</div>
  </div>
  <div class="col3">
    <div class="celda" value=7 id="seven" ng-click="hacerTodo($event)">{{boton[7]}}</div>
    <div class="celda" value=8 id="eight" ng-click="hacerTodo($event)">{{boton[8]}}</div>
    <div class="celda" value=9 id="nine" ng-click="hacerTodo($event)">{{boton[9]}}</div>
  </div>
</div>
